* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.header {
  width: 100%;
  padding: 2.6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 30px 10px #6b2737;
}

.nav-bar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4em;
  position: fixed;
  background-color: white;
}

.otros {
  color: black;
  padding: 0.5em 0.8em;
  border: solid 2px #fff;
  font-weight: bold;
}

.boton-color {
  color: #d38dff;
  padding: 0.5em 2em;
  border-radius: 2em;
  border: solid 2px #6b2737;
  background-color: #008f7a;
}

.otros:hover {
  color: #008f7a;
  border: solid 2px #6b2737;
  border-radius: 2em;
}

.otros:active {
  border: solid 2px #6b2737;
  box-shadow: -1px -1px 18px 3px #d38dff;
}

.boton-color:hover {
  color: #55c6ae;
  border: solid 2px #d38dff;
  background-color: #c5fcee;
}

.boton-color:active {
  color: #e7cfcd;
  border: solid 2px #55c6ae;
  box-shadow: -1px -1px 18px 3px #d38dff;
}

/* fin header */
a {
  text-decoration: none;
}
.barra-scrol {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 15px 1px #070d0e;
  transform: translateX(100%);
}

/* inicio saludo */
/*-prefix-linear-gradient(#D38DFF, #C5FCEE, #55C6AE, #008F7A )*/
.saludo {
  color: #4e6fc3;
  background: repeating-linear-gradient(#d38dff, #c5fcee, #55c6ae, #008f7a);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-saludo {
  padding: 10% 10%;
  width: 100%;
  display: flex;
}

.text-saludo {
  padding-top: 5%;
  width: 50%;
  font-family: sans-serif;
}

.mi-hola {
  font-size: 2em;
  margin: 2% 0%;
}

.mi-nombre {
  font-size: 4.5em;
  color: #008f7a;
  font-family: "Croissant One", cursive;
}

.mi-descripcion {
  padding: 5%;
  margin-bottom: 3%;
  font-size: 1.4em;
}

.boton-a-proyectos {
  padding: 1em 2em;
  border-radius: 5em;
  color: #55c6ae;
  border: solid 2px #d38dff;
  background-color: #c5fcee;
}

.img-saludo {
  padding: 1.5%;
  width: 50%;
}

.boton-a-proyectos:hover {
  color: #d38dff;
  border: #c5fcee;
  background-color: #008f7a;
}

/* inicio conocimientos */

.mis-conocimientos {
  background: repeating-radial-gradient(#008f7a, #d38dff);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-conocimientos {
  padding: 6% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-conocimientos {
  font-size: 2.5em;
}

.descripcion-conocimientos {
  font-size: 1.2em;
  width: 30%;
  margin-top: 2%;
}

.container-cuadros {
  width: 55%;
  padding: 1%;
  margin-top: 2.5%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cuadro-item {
  background-color: white;
  width: 30%;
  padding: 6% 8% 4% 8%;
  margin-top: 2.5%;
  border-radius: 4%;
  border: solid 1px #3a2c35;
  box-shadow: 6px 6px 6px 0px #008f7a;
}

.img-item {
  margin-bottom: 5%;
  padding: 15%;
  color: white;
}

.cuadro-item:hover {
  background: repeating-radial-gradient(#c5fcee, #d38dff);
  color: #008f7a;
  border: solid 3px #307473;
  box-shadow: none;
}

/* final conocimientos */

/* inicio franja */

.franja {
  color: #c5fcee;
  background-color: #55c6ae;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-quote-right {
  font-size: 8em;
  padding: 1%;
  margin-bottom: 2%;
}

.frase-franja {
  padding: 1%;
  margin: 1%;
  width: 100%;
  font-size: 1.8em;
}

.someone {
  font-size: 2em;
  padding: 2%;
  text-decoration: underline;
}
/* final franja */

/* inicio proyectos */

.mis-proyectos {
  background: repeating-linear-gradient(#d38dff, #55c6ae);
  padding: 6% 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-proyectos {
  margin-top: 1%;
  font-size: 2.3em;
}

.texto-proyectos {
  font-size: 1.2em;
  width: 20%;
  margin-top: 2%;
}

.cuadros-proyectos {
  width: 60%;
  padding: 2%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton-proyectos {
  background-color: white;
  width: 31%;
  padding: 4% 2%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: solid 1px #3a2c35;
  box-shadow: 6px 6px 6px 0px #3a2c35;
}

.img-proyectos {
  width: 80%;
}

.img-screen {
  width: 100%;
  margin: 15%;
}

.boton-proyectos:hover {
  color: #307473;
  background: repeating-radial-gradient(#d38dff, #4e6fc3);
  border: solid 3px #307473;
  box-shadow: 0px 0px 15px 3px #6b2737;
}
/* fin proyectos */

/* inicio contacto */

.mi-contacto {
  background: repeating-linear-gradient(#d38dff, #55c6ae);
  padding: 2% 10% 2% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contacto {
  background-color: #c5fcee;
  width: 100%;
  padding: 6% 5%;
  border: 3px solid #188c7e;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.columna-contacto {
  width: 100%;
  padding: 10% 13%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacto {
  width: 50%;
}

.titulo-contacto,
.titulo-escribime {
  font-size: 2.5em;
}

.texto-contacto {
  font-size: 1.2em;
  width: 70%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  list-style: none;
}

.links-item-contacto {
  padding: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.img-item-contacto {
  width: 38%;
  color: #008f7a;
  font-size: 0.95em;
  padding: 0.2%;
  border-radius: 2em;
}

.item-mail-contacto {
  width: 55%;
  padding: 0.2%;
  border-radius: 2em;
}

.item-contacto {
  font-size: 1.5em;
  padding: 5%;
  border: solid 2px #c5fcee;
  transition-duration: 1s;
  border-radius: 2em;
}

.item-mail {
  font-size: 1.3em;
  padding: 3%;
  border: solid 2px #c5fcee;
  transition-duration: 1s;
  border-radius: 2em;
}

.img-item-contacto:hover {
  color: #4e6fc3;
}

.item-contacto:hover {
  background: repeating-radial-gradient(#c5fcee, #55c6ae);
  color: #4e6fc3;
  border-radius: 2em;
  border: solid 2px #008f7a;
  transform: rotatey(380deg);
}

.img-item-contacto:active {
  box-shadow: 2px 2px 8px 1px #3a2c35;
}

.item-mail:hover {
  background: repeating-radial-gradient(#c5fcee, #55c6ae);
  color: #4e6fc3;
  border-radius: 2em;
  border: solid 2px #008f7a;
  transform: rotatey(380deg);
}

/* final contactame */

/* inicio escribime */

.mi-escribime {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-escribime {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.espacio-datos {
  width: 100%;
  margin-top: 4%;
  padding: 2.5% 0%;
  display: flex;
  justify-content: space-between;
}

.espacio-nombre,
.espacio-apellido {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.espacio-mail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.espacio-mensaje {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.espacio-escribime {
  color: black;
  font-weight: bold;
  padding: 3%;
}

.input-nombre,
.input-escribime {
  background-color: #c5fcee;
  padding: 5.2%;
  font-size: 1.5;
  outline: none;
  border: none;
  border-radius: 2em;
  box-shadow: 2px 2px 8px -1px #3a2c35;
}

.input-escribime {
  padding: 3.2%;
}

.boton-enviar {
  padding: 2% 7%;
  margin-top: 15%;
  font-size: 1.05em;
  border-radius: 1.5em;
  color: #55c6ae;
  border: solid 2px #d38dff;
  background-color: #c5fcee;
}

.input-escribime:focus,
.input-nombre:focus {
  box-shadow: -1px 1px 10px 5px #307473;
}

.boton-enviar:hover {
  color: #307473;
  border: solid 2px #d38dff;
  background-color: #55c6ae;
  box-shadow: -1px 1px 10px 5px #307473;
}
/* final escribime */

/* inicio footer */

.mi-footer {
  background-color: #188c7e;
  padding: 3% 0%;
  color: #e7cfcd;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-footer {
  width: 100%;
  padding: 0.5% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botones-nav-footer {
  color: #e7cfcd;
  padding: 0.4% 0.8%;
  border-radius: 2em;
  margin: 0% 0.5%;
  border: solid 2px #008f7a;
  text-align: center;
  font-weight: bold;
}

.otros-footer {
  color: #e7cfcd;
  text-align: center;
  border-radius: 2em;
}

.links-footer {
  width: 15%;
  padding: 0.5%;
  display: flex;
  justify-content: space-evenly;
}

.img-item-footer,
.item-footer-mail {
  font-size: 1.5em;
  padding: 3%;
  background-color: #c5fcee;
  border-radius: 50%;
  border: solid 2px #188c7e;
  transition-duration: 1s;
}

.icono,
.icono-mail {
  color: #188c7e;
}

.texto-final {
  font-size: 1.1em;
  color: #e7cfcd;
}

.botones-nav-footer:hover {
  border: solid 2px #e7cfcd;
}
.otros-footer:hover {
  color: #d38dff;
}

.botones-nav-footer:active {
  border: solid 2px #e7cfcd;
  box-shadow: 2px 2px 8px 2px #55c6ae;
}

.img-item-footer:hover,
.item-footer-mail:hover {
  background: repeating-radial-gradient(#d38dff, #008f7a);
  border: solid 2px #c5fcee;
  transform: rotateX(380deg);
}

.icono:hover,
.icono-mail:hover {
  color: #c5fcee;
}

/* final footer */


/* inicio responsive */

/* medida laptop-tablet */

@media screen and (max-width: 1450px) and (min-width: 110px) {
  .cuadros-proyectos {
    width: 100%;
    margin-top: 2%;
  }

  .columna-contacto, .columna-contacto  {
    width: 100%;
  }

  .img-item-contacto {
    width: 60%;
  }

  .item-mail-contacto {
    width: 80%;
  }

  .item-mail {
    padding: 5%;
  }
}

@media screen and (max-width: 1050px) and (min-width: 110px) {
  .header {
    display: none;
  }
  .nav-bar {
    display: none;
  }

  .container-saludo {
    padding: 0% 10%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .img-saludo {
    padding: 3%;
    width: 100%;
  }

  .boton-a-proyectos {
    margin: 1%;
    padding: 0.5em 1em;
    border-radius: 5em;
  }

  .container-conocimientos {
    width: 100%;
    text-align: center;
  }

  .container-cuadros {
    width: 100%;
    margin-top: 2.5%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .boton-proyectos {
    width: 31%;
  }

  .mi-contacto, .container-contacto {
    width: 100%;
    padding: 2%;
  }

  .columna-contacto {
    width: 100%;
    padding: 1%;
  }

  .img-item-footer {
    padding: 5%;
  }
}

/* medida tablet-movil */

@media screen and (max-width: 850px) and (min-width: 110px) {
  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .mi-nombre {
    font-size: 2.6em;
    margin-bottom: 0.4em;
  }

  .boton-a-proyectos {
    margin: 5%;
  }

  .descripcion-conocimientos {
    width: 80%;
    margin: 2%;
  }

  .cuadro-item {
    text-align: center;
    width: 35%;
    padding: 5% 8%;
  }

  .texto-proyectos {
    width: 60%;
    margin-top: 2%;
  }

  .boton-proyectos {
    padding: 4%;
    margin-top: 5%;
    width: 43%;
  }

  .mi-contacto {
    padding: 10% 0%;
    width: 100%;
  }

  .cuadros-proyectos, .texto-contacto,  .contacto  {
    width: 100%;
  }

  .container-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .links {
    width: 100%;
    padding: 10% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .links-item-contacto {
    padding: 0%;
    width: 45%;
    margin-top: 2%;
  }

  .mi-escribime {
    width: 100%;
  }

  .input-escribime {
    padding: 2.6%;
  }


  .item-mail-contacto {
    width: 90%;
  }

  .item-mail {
    padding: 3%;
  }



  .img-item-footer {
    padding: 6%;
    margin: 0.5%;
  }
}

@media screen and (max-width: 450px) and (min-width: 110px) {

  .cuadro-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    width: 48%;
    padding: 3%;
  }

  .boton-proyectos {
    padding: 4%;
    width: 100%;
  }

  .links {
    padding: 0%;
  }

  .links-item-contacto {
    width: 40%;
  }

  .mail-link {
    width: 60%;
  }

  .img-item-contacto {
    width: 100%;
    font-size: 0.7em;
  }

  .item-mail-contacto {
    width: 100%;
  }

  .item-mail {
    padding: 4%;
  }

  .nav-bar-footer {
    width: 70%;
    font-size: 0.8em;
  }

  .img-item-footer {
    padding: 9%;
  }

  .texto-final {
    font-size: 1.09em;
  }
}
