* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.header {
  width: 100%;
  padding: 2.6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 30px 10px #6B2737;
}

.nav-bar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4em;
  position: fixed;
  background-color: white;
}

.otros {
  color: black;
  padding: 0.5em 0.8em;
  border: solid 2px #fff;
  font-weight: bold;
}

.boton-color {
  color: #D38DFF;
  padding: 0.5em 2em;
  border-radius: 2em;
  border: solid 2px #6B2737;
  background-color: #008F7A;
}

.otros:hover {
  color: #008F7A;
  border: solid 2px #6B2737;
  border-radius: 2em;
}

.otros:active {
  border: solid 2px #6B2737;
  box-shadow: -1px -1px 18px 3px #D38DFF;
}

.boton-color:hover {
  color:  #55C6AE;
  border: solid 2px #D38DFF;
  background-color: #C5FCEE;
}

.boton-color:active {
  color: #E7CFCD;
  border: solid 2px #55C6AE;
  box-shadow: -1px -1px 18px 3px #D38DFF;
}

/* fin header */
a {
  text-decoration: none;
}
.barra-scrol {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 15px 1px #070d0e;
  transform: translateX(100%);
}

/* inicio saludo */
/*-prefix-linear-gradient(#D38DFF, #C5FCEE, #55C6AE, #008F7A )*/
.saludo {
  color: #4E6FC3;
  background: repeating-linear-gradient(#D38DFF, #C5FCEE, #55C6AE, #008F7A);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-saludo {
  padding: 10% 10%;
  width: 100%;
  display: flex;
}

.text-saludo {
  padding-top: 5%;
  width: 50%;
  font-family: sans-serif;
}

.mi-hola {
  font-size: 2em;
  margin: 2% 0%;
}

.mi-nombre {
  font-size: 4.5em;
  color: #008F7A;
  font-family: "Croissant One", cursive;
}

.mi-descripcion {
  padding: 5%;
  margin-bottom: 3%;
  font-size: 1.4em;
}

.boton-a-proyectos {
  padding: 1em 2em;
  border-radius: 5em;
  color:  #55C6AE;
  border: solid 2px #D38DFF;
  background-color: #C5FCEE;
}

.img-saludo {
  padding: 1.5%;
  width: 50%;
}

.boton-a-proyectos:hover {
  color:  #D38DFF;
  border: #C5FCEE;
  background-color: #008F7A;
}

/* inicio conocimientos */

.mis-conocimientos {
  background: repeating-radial-gradient(#008F7A, #D38DFF);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-conocimientos {
  padding: 6% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-conocimientos {
  font-size: 2.5em;
}

.descripcion-conocimientos {
  font-size: 1.2em;
  width: 30%;
  margin-top: 2%;
}

.container-cuadros {
  width: 55%;
  padding: 1%;
  margin-top: 2.5%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cuadro-item {
  background-color: white;
  width: 30%;
  padding: 6% 8% 4% 8%;
  margin-top: 2.5%;
  border-radius: 4%;
  border: solid 1px #3A2C35;
  box-shadow: 6px 6px 6px 0px #008F7A;
}

.img-item {
  margin-bottom: 5%;
  padding: 15%;
  color: white;
}

.cuadro-item:hover {
  background: repeating-radial-gradient(#C5FCEE, #D38DFF);
  color: #008F7A;
  border: solid 3px #307473;
  box-shadow: none;
}

/* final conocimientos */

/* inicio franja */

.franja {
  color: #C5FCEE;
  background-color: #55C6AE;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-quote-right {
  font-size: 8em;
  padding: 1%;
  margin-bottom: 2%;
}

.frase-franja {
  padding: 1%;
  margin: 1%;
  width: 100%;
  font-size: 1.8em;
}

.someone {
  font-size: 2em;
  padding: 2%;
  text-decoration: underline;
}
/* final franja */

/* inicio proyectos */

.mis-proyectos {
  background: repeating-linear-gradient(#D38DFF, #55C6AE);
  padding: 6% 0% ;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-proyectos {
  margin-top: 1%;
  font-size: 2.3em;
}

.texto-proyectos {
  font-size: 1.2em;
  width: 20%;
  margin-top: 2%;
}

.cuadros-proyectos {
  width: 60%;
  padding: 2%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton-proyectos {
  background-color: white;
  width: 31%;
  padding: 4% 2%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: solid 1px #3A2C35;
  box-shadow: 6px 6px 6px 0px #3A2C35;
}

.img-proyectos {
  width: 80%;
}

.img-screen {
  width: 100%;
  margin: 15%;
}

.boton-proyectos:hover {
  color: #307473;
  background: repeating-radial-gradient(#D38DFF, #4E6FC3);
  border: solid 3px #307473;
  box-shadow: 0px 0px 15px 3px #6B2737;
}
/* fin proyectos */

/* inicio contacto */

.mi-contacto {
  background: repeating-linear-gradient(#D38DFF, #55C6AE);
  padding: 2% 10% 2% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contacto {
  background-color: #C5FCEE;
  width: 100%;
  padding: 6% 5%;
  border: 3px solid #188C7E;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.columna-contacto {
  width: 100%;
  padding: 10% 13%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacto {
  width: 50%;
}

.titulo-contacto,
.titulo-escribime {
  font-size: 2.5em;
}

.texto-contacto {
  font-size: 1.2em;
  width: 70%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  list-style: none;
}

.links-item-contacto {
  padding: 1%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}



.img-item-contacto {
  text-align: center;
  width: 40%;
  color: #008F7A;
  font-size: 0.95em;
  padding: 0.5%;
}

.item-mail-contacto {
  width: 62%;
}

 .item-contacto {
  font-size: 1.5em;
  padding: 5%;
  border: solid 2px #C5FCEE;
  transition-duration: 1s;
}

.item-mail {
  font-size: 1.3em;
  padding: 3%;
  border: solid 2px #C5FCEE;
  transition-duration: 1s;
}


.img-item-contacto:hover {
  color: #4E6FC3;
}

.item-contacto:hover{
  background: repeating-radial-gradient(#C5FCEE, #55C6AE);
  color: #4E6FC3;
  border-radius: 2em;
  border: solid 2px #008F7A;
  transform: rotatey(380deg);
}

.item-mail:hover{
  background: repeating-radial-gradient(#C5FCEE, #55C6AE);
  color: #4E6FC3;
  border-radius: 2em;
  border: solid 2px #008F7A;
  transform: rotatey(380deg);
}



/* final contactame */

/* inicio escribime */

.mi-escribime {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-escribime {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.espacio-datos {
  width: 100%;
  margin-top: 4%;
  padding: 2.5% 0%;
  display: flex;
  justify-content: space-between;
}

.espacio-nombre,
.espacio-apellido {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.espacio-mail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.espacio-mensaje {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.espacio-escribime {
  color: black;
  font-weight: bold;
  padding: 3%;
}

.input-nombre,
.input-escribime {
  background-color: #C5FCEE ;
  padding: 5.2%;
  font-size: 1.5;
  outline: none;
  border: none;
  border-radius: 2em;
  box-shadow: 2px 2px 8px -1px #3A2C35;
}

.input-escribime {
  padding: 3.2%;
}

.boton-enviar {
  padding: 2% 7%;
  margin-top: 15%;
  font-size: 1.05em;
  border-radius: 1.5em;
  color:  #55C6AE;
  border: solid 2px #D38DFF;
  background-color: #C5FCEE;
}

.input-escribime:focus,
.input-nombre:focus {
  box-shadow: -1px 1px 10px 5px #307473;
}

.boton-enviar:hover {
  color: #307473;
  border: solid 2px #D38DFF;
  background-color: #55C6AE;
  box-shadow: -1px 1px 10px 5px #307473;
}
/* final escribime */

/* inicio footer */

.mi-footer {
  background-color: #188C7E;
  padding: 3% 0%;
  color: #E7CFCD;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-footer {
  width: 100%;
  padding: 0.5% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botones-nav-footer {
  color: #E7CFCD;
  padding: 0.4% 0.8%;
  border-radius: 2em;
  margin: 0% 0.5%;
  border: solid 2px #008F7A;
  text-align: center;
  font-weight: bold;
}

.otros-footer {
  color: #E7CFCD;
  text-align: center;
  border-radius: 2em;
}


.links-footer {
  width: 15%;
  padding: 0.5%;
  display: flex;
  justify-content: space-evenly;
}

.img-item-footer, .item-footer-mail {
  font-size: 1.5em;
  padding: 3%;
  background-color: #C5FCEE;
  border-radius: 50%;
  border: solid 2px #188C7E;
  transition-duration: 1s;
}

 .icono, .icono-mail {
  color: #188C7E;
} 

.texto-final {
  font-size: 1.1em;
  color: #E7CFCD;
}

.botones-nav-footer:hover {
  border: solid 2px #E7CFCD;
}
.otros-footer:hover {
  color: #D38DFF;
}

.botones-nav-footer:active {
  border: solid 2px #E7CFCD;
  box-shadow: 2px 2px 8px 2px #55C6AE;
}

.img-item-footer:hover, .item-footer-mail:hover {
  background: repeating-radial-gradient(#D38DFF, #008F7A);
  border: solid 2px #C5FCEE;
  transform: rotateX(380deg);
}

.icono:hover, .icono-mail:hover {
  color: #C5FCEE;
} 

/* .icono-mail:hover,
.icono:hover {
  color: #e94f37;
  background-color: #393e41;
  border: solid 1px #f6f7eb;
  transform: rotateX(380deg);
} */

/* final footer */

/* inicio responsive */

/* medida laptop-tablet */

@media screen and (max-width: 1450px) and (min-width: 110px) {
  .cuadros-proyectos {
    width: 100%;
    margin-top: 2%;
  }

  .columna-contacto {
    width: 100%;
    padding: 0%;
    display: flex;
  }
  .container-contacto {
    width: 100%;
  }

  .img-item-contacto {
    padding: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-item-mail {
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1050px) and (min-width: 110px) {
  .header {
    display: none;
  }
  .nav-bar {
    display: none;
  }

  .container-saludo {
    padding: 0% 10%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .img-saludo {
    padding: 3%;
    width: 100%;
  }

  .boton-a-proyectos {
    padding: 0.5em 1em;
    border-radius: 5em;
  }

  .container-conocimientos {
    width: 100%;
    text-align: center;
  }

  .container-cuadros {
    width: 100%;
    margin-top: 2.5%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cuadro-item {
    width: 30%;
  }

  .boton-proyectos {
    background-color: white;
    padding: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
  }

  .mi-contacto .container-contacto .columna-contacto {
    width: 100%;
  }

  .mi-contacto {
    padding: 10% 0%;
    width: 100%;
  }

  .img-item-contacto {
    width: 47%;
    padding: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-item-mail {
    width: 75%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* medida tablet-movil */

@media screen and (max-width: 850px) and (min-width: 110px) {
  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .mi-nombre {
    font-size: 2.5em;
    margin-bottom: 0.4em;
  }

  .boton-a-proyectos {
    margin-bottom: 5%;
  }

  .mis-conocimientos .container-conocimientos {
    width: 100%;
  }

  .descripcion-conocimientos {
    width: 80%;
    margin-top: 2%;
  }

  .container-cuadros {
    width: 100%;
  }

  .cuadro-item {
    text-align: center;
    font-size: 80%;
    width: 40%;
    padding: 5% 8%;
    margin-left: 1%;
  }

  .texto-proyectos {
    width: 60%;
    margin-top: 2%;
  }

  .cuadros-proyectos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .boton-proyectos {
    padding: 4%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
  }

  .img-proyectos {
    width: 15em;
  }

  .mi-contacto {
    padding: 10% 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .columna-contacto .contacto {
    width: 100%;
  }

  .img-item-contacto {
    width: 32%;
    padding: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-item-mail {
    width: 50%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mi-escribime,
  .form-escribime,
  .espacio-datos,
  .espacio-mail,
  .espacio-mensaje {
    width: 100%;
  }

  .icono {
    padding: 0.8em;
  }

  .icono-mail {
    padding: 0.8em;
  }
}

@media screen and (max-width: 450px) and (min-width: 110px) {

.saludo {
  padding: 10% 0%;
}

  .container-conocimientos {
    width: 100%;
  }

  .container-cuadros {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cuadro-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    width: 48%;
    padding: 3%;
    margin-left: 1%;
  }

  .mis-proyectos {
    padding: 20% 0%;
  }

  .texto-proyectos .cuadros-proyectos {
    width: 100%;
    margin-top: 2%;
  }

  .boton-proyectos {
    padding: 4%;
    margin-top: 3%;
    width: 100%;
  }

  .img-screen {
    margin-bottom: 10%;
    margin-top: 15%;
  }

  .mi-contacto {
    padding: 10% 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contacto .container-contacto .texto-contacto {
    width: 100%;
    padding: 0%;
  }

.fa-envelope {
  padding: 2.3%;
}

  .img-item-contacto {
    width: 56%;
    padding: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-item-mail {
    width: 90%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mi-escribime,
  .form-escribime,
  .espacio-datos {
    width: 100%;
  }

  .mi-escribime {
    padding: 10% 0%;
  }

  .input-nombre {
    width: 98%;
  }

  .botones-nav-footer {
    font-size: 0.8em;
    width: 100%;
    padding: 0.5%;
  }

  .otros-footer {
    font-size: 0.9em;
  }

  .icono-mail {
    padding: 0.8em;
  }

  .texto-final {
    font-size: 1.09em;
  }
}
