* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.header {
  width: 100%;
  padding: 2.6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: #c5fcee;
  box-shadow: 0px 8px 30px 3px #d38dff;
}

.nav-bar {
  width: 50%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4em;
  position: fixed;
  background-color: #c5fcee;
}

.lista-botones-navegacion {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.boton-nav-inicio {
  color: #d38dff;
  padding: 0.5em 0.8em;
  border: solid 2px #c5fcee;
  font-weight: bold;
}

.boton-nav-inicio-color {
  color: #d38dff;
  padding: 0.5em 2em;
  border-radius: 2em;
  border: solid 2px #6b2737;
  background-color: #008f7a;
}

.boton-nav-inicio:hover {
  color: #008f7a;
  border: solid 2px #008f7a;
  border-radius: 2em;
}

.boton-nav-inicio:active {
  border: solid 2px #6b2737;
  box-shadow: -1px -1px 18px 3px #d38dff;
}

.boton-nav-inicio-color:hover {
  color: #55c6ae;
  border: solid 2px #d38dff;
  background-color: #c5fcee;
}

.boton-color:active {
  color: #e7cfcd;
  border: solid 2px #55c6ae;
  box-shadow: -1px -1px 18px 3px #d38dff;
}

/* fin header */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.barra-scrol {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 15px 1px #d38dff;
  transform: translateX(100%);
}

/* inicio saludo */

.saludo {
  color: #4e6fc3;
  background: repeating-linear-gradient(#d38dff, #c5fcee, #55c6ae, #008f7a);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-saludo {
  padding: 10% 10%;
  width: 100%;
  display: flex;
}

.text-saludo {
  padding-top: 5%;
  width: 50%;
  font-family: sans-serif;
}

.mi-hola {
  font-size: 0.5em;
  margin: 2% 0%;
}

.mi-nombre {
  font-size: 4.5em;
  color: #008f7a;
  font-family: "Croissant One", cursive;
}

.mi-descripcion {
  padding: 5%;
  margin-bottom: 3%;
  font-size: 1.4em;
}

.boton-a-proyectos {
  padding: 1em 2em;
  border-radius: 5em;
  color: #55c6ae;
  border: solid 2px #d38dff;
  background-color: #c5fcee;
}

.img-saludo {
  padding: 1.5%;
  width: 50%;
}

.boton-a-proyectos:hover {
  color: #d38dff;
  border: #c5fcee;
  background-color: #008f7a;
  box-shadow: -1px -1px 18px 3px #d38dff;
}

/* inicio conocimientos */

.mis-conocimientos {
  background: repeating-radial-gradient(#008f7a, #d38dff);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-conocimientos {
  padding: 6% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-conocimientos {
  font-size: 2.5em;
}

.descripcion-conocimientos {
  font-size: 1.2em;
  width: 30%;
  margin-top: 2%;
}

.contenedor-cuadros-conocimientos {
  width: 55%;
  padding: 1%;
  margin-top: 2.5%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cuadro-item-conocimiento {
  background-color: white;
  text-align: center;
  width: 30%;
  padding: 2%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  border: solid 1px #3a2c35;
  box-shadow: 6px 6px 6px 0px #008f7a;
}

.img-item-conocimiento {
  width: 50%;
  margin: 8%;
  color: white;
}

.cuadro-item-conocimiento:hover {
  background: repeating-radial-gradient(#c5fcee, #d38dff);
  color: #008f7a;
  border: solid 3px #307473;
  box-shadow: none;
}

/* final conocimientos */

/* inicio franja */

.franja {
  color: #c5fcee;
  background-color: #55c6ae;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-quote-right {
  font-size: 8em;
  padding: 1%;
  margin-bottom: 2%;
}

.frase-franja {
  padding: 1%;
  margin: 1%;
  width: 100%;
  font-size: 1.8em;
}

.alguien {
  font-size: 2em;
  padding: 2%;
  text-decoration: underline;
}
/* final franja */

/* inicio proyectos */

.mis-proyectos {
  background: repeating-linear-gradient(#d38dff, #55c6ae);
  width: 100%;
  text-align: center;
}

.contenedor-proyectos {
  width: 100%;
  padding: 5% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-proyectos {
  margin: 1%;
  width: 40%;
  font-size: 2.5em;
}

.texto-proyectos {
  font-size: 1.3em;
  width: 30%;
  margin: 2%;
}

.cuadros-proyectos {
  width: 75%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton-proyectos {
  background: repeating-radial-gradient(#e3bcfb, #9bf5e2);
  width: 32%;
  padding: 2%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  border: solid 2px #3a2c35;
  box-shadow: 6px 6px 6px 0px #3a2c35;
}

.img-proyectos, .img-screen {
  width: 100%;
}

.boton-proyectos:hover {
  color: #c5fcee;
  background: repeating-radial-gradient(#d38dff, #4e6fc3);
  border: solid 2px #c5fcee;
  box-shadow: 0px 0px 15px 3px #6b2737;
}
/* fin proyectos */

/* inicio contacto */

.mi-contacto {
  background: repeating-linear-gradient(#d38dff, #55c6ae);
  padding: 8% 10% 8% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-contacto-escribime {
  background-color: #c5fcee;
  width: 85%;
  padding: 5%;
  border: 3px solid #188c7e;
  border-radius: 1em;
  display: flex;
}

.columna-contacto {
  width: 50%;
  padding: 1%;
}

.titulo-contacto,
.titulo-escribime {
  font-size: 2.5em;
}

.texto-contacto {
  font-size: 1.2em;
  margin-top: 5%;
}

.links-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.links-item-contacto {
  padding: 1%;
  width: 100%;
}

.img-item-contacto {
  color: #008f7a;
  font-size: 1.1em;
  padding: 2.5%;
  border-radius: 2em;
}

.item-contacto {
  padding: 2%;
  border: solid 2px #c5fcee;
  transition-duration: 1s;
  border-radius: 2em;
}

.img-item-contacto:hover {
  color: #4e6fc3;
}

.img-item-contacto:hover .item-contacto{
  background: repeating-radial-gradient(#d38dff, #4e6fc3);;
  color: #c5fcee;
  border: solid 2px #008f7a;
  transform: rotatey(380deg);
}

.img-item-contacto:hover .item-mail{
  background: repeating-radial-gradient(#d38dff, #4e6fc3);;
  color: #c5fcee;
  border: solid 2px #008f7a;
  transform: rotatey(380deg);
} 

.img-item-contacto:active {
  box-shadow: 2px 2px 8px 1px #3a2c35;
}

/* final contactame */

/* inicio escribime */

.columna-escribime {
  width: 50%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.form-escribime {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-espacio-datos {
  width: 100%;
  margin-top: 4%;
  padding: 2.5% 0%;
  display: flex;
  justify-content: space-between;
}

.form-nombre,
.form-apellido {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-mail, .form-mensaje {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.espacio-escribir {
  color: black;
  font-weight: bold;
  padding: 3%;
}

.input-nombre,
.input-escribime {
  background-color: #c5fcee;
  padding: 5.2%;
  font-size: 1.5;
  outline: transparent;
  border: none;
  border-radius: 2em;
  box-shadow: 2px 2px 8px -1px #3a2c35;
}

.input-escribime {
  padding: 3%;
}

.boton-enviar {
  padding: 2% 7%;
  margin-top: 15%;
  font-size: 1.05em;
  border-radius: 1.5em;
  color: #55c6ae;
  border: solid 2px #d38dff;
  background-color: #c5fcee;
}

.input-escribime:focus,
.input-nombre:focus {
  box-shadow: -1px 1px 10px 5px #307473;
}

.boton-enviar:hover {
  color: #307473;
  border: solid 2px #d38dff;
  background-color: #55c6ae;
  box-shadow: -1px 1px 10px 5px #307473;
}
/* final escribime */

/* inicio footer */

.mi-footer {
  background-color: #188c7e;
  padding: 3% 0%;
  color: #e7cfcd;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lista-footer {
  width: 33%;
  color: #e7cfcd;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.botones-nav-footer {
  padding: 1.5%;
}

.a-nav-footer {
  font-size: 1em;
  color: #c5fcee;
  padding: 4% 5%;
  border-radius: 2em;
  border: solid 2px #188c7e;
}

.a-nav-footer-hola {
  padding: 10%;
  font-size: 1em;
  color: #c5fcee;
  border-radius: 2em;
  border: solid 2px #188c7e;
}

.links-footer {
  width: 15%;
  margin: 1% 0%;
  padding: 0.5%;
  display: flex;
  justify-content: space-evenly;
}

.img-item-footer {
  font-size: 1.5em;
  padding: 3%;
  color: #188c7e;
  background-color: #9bf5e2;
  border-radius: 50%;
  border: solid 2px #9bf5e2;
  transition-duration: 1s;
}

.icono-footer {
  padding: 1%;
}

.a-nav-footer:hover, .a-nav-footer-hola:hover {
  color: #d38dff;
  border: solid 2px #e7cfcd;
}

.a-nav-footer:active, .a-nav-footer-hola:active {
  border: solid 2px #e7cfcd;
  box-shadow: 1px 1px 8px 2px #e3bcfb;
}

.img-item-footer:hover {
  background: repeating-radial-gradient(#d38dff, #008f7a);
  border: solid 2px #c5fcee;
  color: #c5fcee;
  transform: rotateX(380deg);
}

.img-item-footer:active {
  box-shadow: -1px 1px 10px 5px #e3bcfb;
}


.texto-final {
  font-size: 1.1em;
  color: #e7cfcd;
}


/* final footer */


/* inicio responsive */

/* medida laptop-tablet */

@media screen and (max-width: 1140px) and (min-width: 110px) {
  
  .header, .nav-bar, .barra-scrol {
    display: none;
  }

  .contenedor-saludo {
    padding: 0% 10%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .img-saludo {
    padding: 3%;
    width: 100%;
  }

  .boton-a-proyectos {
    margin: 1%;
    padding: 0.5em 1em;
    border-radius: 5em;
  }

  .contenedor-conocimientos, .contenedor-cuadros-conocimientos{
    width: 100%;
    text-align: center;
  }

  .descripcion-conocimientos {
    width: 100%;
  }

  .cuadros-proyectos {
    width: 100%;
  }

  .texto-proyectos {
    width: 100%;
  }

  .mi-contacto, .contenedor-contacto-escribime {
    width: 100%;
    padding: 2%;
  }

  .columna-contacto, .columna-escribime {
    width: 100%;
  }

  .img-item-contacto {
    font-size: 1em;
  }

  .lista-footer {
    width: 50%;
  }

  .a-nav-footer, .a-nav-footer-hola {
    font-size: 0.9em;
  }

  .links-footer {
    width: 20%;
  }

}

/* medida tablet-movil */

@media screen and (max-width: 850px) and (min-width: 480px) {

  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .mi-nombre {
    font-size: 3.5em;
  }

  .boton-a-proyectos {
    margin: 5%;
  }

  .descripcion-conocimientos {
    width: 80%;
    margin: 2%;
  }

  .cuadro-item-conocimiento {
    width: 40%;
    padding: 5%;
    text-align: center;
  }

  .texto-proyectos {
    width: 60%;
    margin-top: 2%;
  }

  .cuadros-proyectos{
    width: 100%;
  }

  .boton-proyectos {
    width: 48%;
    height: 20em;
    margin-right: 2%;
  }

  .mi-contacto {
    padding: 10% 0%;
    width: 100%;
  }

  .contenedor-contacto-escribime {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .texto-contacto,  .contacto {
    width: 100%;
  }

  .links-contacto {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
  }

  .links-item-contacto {
    padding: 1%;
    width: 100%;
  }
  
  .img-item-contacto {
    font-size: 1.2em;
    padding: 2%;
  }
  
  .item-contacto {
    padding: 2%;
    transition-duration: 1s;
  }

  .columna-escribime {
    width: 100%;
  }

  .lista-footer {
   width: 60%;
  }

  .links-footer {
    width: 30%;
  }

}

@media screen and (max-width: 479px) and (min-width: 100px) {

  .mi-nombre {
    font-size: 3.5em;
  }

  .cuadro-item-conocimiento {
    width: 55%;
    padding: 5%;
    margin: auto;
  }

  .titulo-proyectos {
    width: 100%;
  }
  
  .boton-proyectos {
    width: 100%;
    padding: 12%;
  }

  .img-proyectos {
    width: 90%;  
  }


  .contenedor-contacto-escribime {
    display: flex;
    flex-direction: column;
  }

  .columna-contacto, .columna-escribime {
    width: 100%;
  }

  .links-item-contacto {
    padding: 1%;
    width: 100%;
  }
  
  .img-item-contacto {
    font-size: 1em;
    padding: 2.5%;
  }
  
  .item-contacto {
    padding: 2%;
    border: solid 2px #c5fcee;
    transition-duration: 1s;
    border-radius: 2em;
  }

  .lista-footer {
    width: 100%;
  }

  .botones-nav-footer {
    font-size: 0.8em;
  }

  .img-item-footer {
    padding: 1.5%;
  }

  .links-footer {
    width: 50%;
    margin-top: 10% 0%;
  }

  .texto-final {
    font-size: 1.09em;
  }
}
@media screen and (max-width: 340px) and (min-width: 100px){

.descripcion-conocimientos {
  width: 100%;
}

.contenedor-cuadros-conocimientos {
  width: 100%;
  text-align: center;
}

.cuadro-item-conocimiento {
  width: 70%;
}

.lista-footer {
  width: 100%;
  font-size: 0.9em;
}
}