* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  padding: 2.6em;
  background-color: white;
  box-shadow: 0px 8px 30px -15px rgb(171, 170, 170);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.nav-bar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 4em;
  position: fixed;
  background-color: white;
}

.otros {
  color: black;
  padding: 0.2em 0.5em;
}

.boton-color {
  color: white;
  padding: 0.5em 2em;
  border-radius: 2em;
  background-color: rgb(86, 200, 152);
}

.otros:active {
  border: solid 1px rgb(118, 222, 196);
  box-shadow: -1px -1px 10px 4px rgb(149, 228, 208);
}

.boton-color:hover {
  background-color: rgb(122, 207, 186);
}

.boton-color:active {
  box-shadow: -1px -1px 10px 4px rgb(149, 228, 208);
}

/* fin header */
a {
  text-decoration: none;
}
.barra-scrol {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0 0 20px;
  background-color: #fff;
  box-shadow: -10px 0 20px rgb(191, 190, 190);
  transform: translateX(100%);
}

.saludo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-saludo {
  padding: 10% 10%;
  width: 100%;
  display: flex;
}

.text-saludo {
  padding: 1.5%;
  width: 50%;
  font-family: sans-serif;
}

.mi-hola {
  font-size: 2em;
  margin-bottom: 0.4em;
  margin-top: 20%;
}

.mi-nombre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.6em;
  color: rgb(86, 200, 152);
  margin-bottom: 0.4em;
}

.mi-descripcion {
  margin-bottom: 2em;
}

.boton-a-proyectos {
  padding: 1em 1.3em;
  background-color: rgb(86, 200, 152);
  color: white;
  border-radius: 5em;
}

.img-saludo {
  padding: 1.5%;
  width: 50%;
}

.boton-a-proyectos:hover {
  background-color: rgb(122, 207, 186);
}

/* inicio conocimientos */

.mis-conocimientos {
  background-color: rgb(248, 255, 247);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-conocimientos {
  padding: 6% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-conocimientos {
  font-size: 2.5em;
}

.descripcion-conocimientos {
  width: 30%;
  margin-top: 2%;
}

.container-cuadros {
  width: 55%;
  padding: 1%;
  margin-top: 2.5%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cuadro-item {
  background-color: white;
  width: 30%;
  padding: 6% 8% 4% 8%;
  margin-top: 2.5%;
  border: solid 1px rgb(214, 213, 213);
  border-radius: 4%;
}

.img-item {
  margin-bottom: 5%;
  padding: 15%;
  color: white;
}

.cuadro-item:hover {
  color: rgb(86, 200, 152);
  border: solid 1px rgb(86, 200, 152);
}

/* final conocimientos */

/* inicio franja */

.franja {
  color: white;
  background-color: rgb(86, 200, 152);
  padding: 6% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa-quote-right {
  font-size: 8em;
  margin-top: -2%;
  margin-bottom: 2%;
}

.someone {
  font-size: 2em;
  margin-top: 6%;
  margin-bottom: -5%;
}
/* final franja */

/* inicio proyectos */

.mis-proyectos {
  padding: 5% 10% 3% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-proyectos {
  margin-top: 2%;
  font-size: 2.3em;
}

.texto-proyectos {
  width: 20%;
  margin-top: 2%;
}

.cuadros-proyectos {
  width: 70%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton-proyectos {
  padding: 2.8%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;
  border: solid 1px rgb(217, 215, 215);
  border-radius: 2%;
}

.img-proyectos {
  width: 100%;
}

.img-screen {
  margin-top: 10%;
  margin-bottom: 25%;
}

.boton-proyectos:hover {
  color: rgb(86, 200, 152);
  border: solid 1px rgb(86, 200, 152);
}
/* fin proyectos */

/* inicio contacto */

.mi-contacto {
  background-color: rgb(248, 255, 247);
  padding: 0% 10% 2% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-contacto {
  background-color: white;
  width: 100%;
  padding: 6% 5%;
  border: 1px solid rgb(235, 233, 233);
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.columna-contacto {
  width: 100%;
  padding: 10% 13%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacto {
  width: 50%;
}

.titulo-contacto, .titulo-escribime {
  font-size: 2.5em;
}

.texto-contacto {
  width: 70%;
  margin-top: 6%;
  margin-bottom: 6%;
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.img-item-contacto {
  color: black;
  width: 100%;
  margin-top: 4%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-brands {
  padding: 2%;
  font-size: 1.1em;
  color: rgb(86, 200, 152);
}

.fa-envelope {
  padding: 2%;
  font-size: 1.1em;
  color: rgb(86, 200, 152);
}

.fa-brands:hover {
  background-color: rgb(86, 200, 152);
  color: white;
  border-radius: 50%;
}
.fa-envelope:hover {
  background-color: rgb(86, 200, 152);
  color: white;
  border-radius: 50%;
}

/* final contactame */

/* inicio escribime */

.mi-escribime {
  width: 50%;
  display: flex;
  flex-direction: column;
}

 .form-escribime {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.espacio-datos {
  width: 100%;
  margin-top: 4%;
  padding: 2.5% 0%;
  display: flex;
  justify-content: space-between;
}

.espacio-nombre, .espacio-apellido  {
  display: flex;
  flex-direction: column;
}

.espacio-mail, .espacio-mensaje {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.espacio-escribime {
  color: black;
  padding: 3%;
}

.input-nombre {
  padding: 6%;
  background-color: rgb(250, 254, 250);
  font-size: 1.5;
  border: none;
  border-radius: 2em;
}

.input-escribime {
  background-color: rgb(250, 254, 250);
  font-size: 1.5;
  padding: 3%;
  border: none;
  border-radius: 2em;
}

.boton-enviar {
  color: white;
  background-color: rgb(80, 180, 155);
  padding: 2% 7%;
  margin-top: 15%;
  font-size: 1.05em;
  border-radius: 1.5em;
  border: none;
}

.input-escribime:focus, .input-nombre:focus {
  box-shadow: -1px -1px 10px 4px rgb(80, 180, 155);
  outline: none;
}

.boton-enviar:hover {
  background-color: rgb(122, 207, 186);
}
/* final escribime */

/* inicio footer */

.mi-footer {
  background-color: rgb(86, 200, 152);
  padding: 3% 0%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-footer {
  width: 100%;
  padding: 0%;
  display: flex;
  align-items: stretch;
  justify-content: center;

}

.bottons-nav-footer, .otros-footer{
  padding: 0.2% 0.4% 0.2% 0.1%;
  margin-left: 1%;
  text-align: center;
  color: white;
}

.links-footer {
  width: 100%;
  padding: 1.5%;
  display: flex;
  justify-content: center;
 
}

.img-item-footer {
  margin-left: 1%;
}

.icono {
  padding: 0.7em;
  border-radius: 50%;
  background-color: white;
  counter-reset: rgb(86, 200, 152);
}

.icono:active {
  box-shadow: -1px -1px 10px 4px white;
}

.bottons-nav-footer:active {
  box-shadow: -1px -1px 10px 4px white;
}
.icono:hover {
  border: solid 1px white;
}

/* final footer */



/* inicio responsive */

/* medida laptop-tablet */

@media screen and (max-width: 1450px) and (min-width: 110px) {
  .cuadros-proyectos {
    width: 100%;
    margin-top: 2%;
  }

  .columna-contacto {
    width: 100%;
    padding: 0%;
    display: flex;
  }
  .container-contacto {
    width: 100%;
  }

}

@media screen and (max-width: 1050px) and (min-width: 110px) {
  .header {
    display: none;
  }
  .nav-bar {
    display: none;
  }

  .container-saludo {
    padding: 0% 10%;
    width: 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
  }

  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .img-saludo {
    padding: 3%;
    width: 100%;
  }

  .boton-a-proyectos {
    padding: 0.5em 1em;
    border-radius: 5em;
  }

  .container-conocimientos {
    width: 100%;
    text-align: center;
  }

  .container-cuadros {
    width: 100%;
    margin-top: 2.5%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cuadro-item {
    width: 30%;
  }

  .mi-contacto .container-contacto  .columna-contacto {
    width: 100%;
  }

  
.mi-contacto {
  padding: 0%;
  width: 100%;
}



}

/* medida tablet-movil */

@media screen and (max-width: 850px) and (min-width: 110px) {
  .text-saludo {
    padding: 1.5%;
    width: 100%;
  }

  .mi-nombre {
    font-size: 2.5em;
    margin-bottom: 0.4em;
  }

  .boton-a-proyectos {
    margin-bottom:5%;
  }

  .mis-conocimientos  .container-conocimientos {
    width: 100%;
  }

  .descripcion-conocimientos {
    width: 80%;
    margin-top: 2%;
  }

  .container-cuadros {
    width: 100%;
  }
  .cuadro-item {
    font-size: 80%;
    width: 40%;
    margin-left: 0.01px;
    padding: 5% 8%;
    margin-left: 1%;
  }

  .texto-proyectos {
    width: 60%;
    margin-top: 2%;
  }

  .cuadros-proyectos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .boton-proyectos {
    padding: 4%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
  }

  .img-proyectos {
    width: 15em;
  }

  .mi-contacto {
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .columna-contacto  .contacto{
    width: 100%;
  }

  .fa-brands, .fa-envelope {
    padding: 1.5%;
    font-size: 1em;
  }

  .mi-escribime, .form-escribime, .espacio-datos, .espacio-mail, .espacio-mensaje {
    width: 100%;
  }

  .icono {
    padding: 0.8em;
  }
}

@media screen and (max-width: 450px) and (min-width: 110px) {

  .container-conocimientos {
    width: 100%;
  }

  .container-cuadros {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cuadro-item {
    font-size: 60%;
    width: 45%;
    margin-left: 0.01px;
    padding: 2% 5%;
    margin-left: 1%;
  }

  .texto-proyectos .cuadros-proyectos  {
    width: 100%;
    margin-top: 2%;
  }

  .boton-proyectos {
    padding: 4%;
    margin-top: 3%;
    width: 100%;
  }

  .img-screen {
    margin-bottom: 10%;
    margin-top: 15%;
  }


  .mi-contacto {
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contacto .container-contacto  .texto-contacto {
    width: 100%;
    padding: 0%;
  }

  .mi-escribime, .form-escribime, .espacio-datos {
    width: 100%;
  }

  .input-nombre {
    width: 98%;
  }

  .otros-footer {
    font-size: 0.95em;
  }
}
