body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* comienzo header */
.header {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 100%;
  padding: 1.8% 0%;
  box-shadow: 0px 8px 30px -15px rgb(171, 170, 170);
  position: fixed;
}

/* comienzo nav */
.navbar {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cajas-nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}

.color {
  text-decoration: none;
  padding: 7% 16%;
  border-radius: 20px;
  background-color: rgb(78, 170, 116);
  color: white;
}

ul {
  list-style: none;
}

.color:hover {
  background-color: rgb(106, 190, 150);
  color: white;
}

.nav-item:hover {
  color: rgb(100, 184, 100);
}

/* fin nav */
/* fin header */

/* comienzo saludo */

.saludo {
  width: 100%;
  padding: 3% 0%;
}

.contenido {
  padding: 8% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  font-family: "Montserrat", sans-serif;
  padding: 5% 2%;
}

.primer-p {
  font-size: 30px;
}
.primer-h1 {
  margin-top: -15px;
  color: rgb(100, 184, 100);
  font-size: 60px;
  font-family: "Archivo Black", sans-serif;
}

.segundo-p {
  margin-top: -5%;
  margin-bottom: 10%;
  font-size: 18px;
}

.lo-que-hago {
  background-color: rgb(100, 184, 100);
  color: white;
  padding: 2% 3%;
  border-radius: 20px;
  text-align: center;
}

.lo-que-hago:hover {
  background-color: rgb(117, 186, 117);
}

.imagen-saludo {
  width: 50%;
  padding: 6% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen1 {
  width: 100%;
}
/* fin saludo */

/* comienzo conocimientos */
.sobre-mi {
  background-color: rgb(240, 248, 240);
  width: 100%;
  height: 60em;
  text-align: center;
}

.texto-conocimientos {
  width: 100%;
  padding: 2% 0%;
}
.titulo-conocimientos {
  font-family: "Archivo Black", sans-serif;
  font-size: 45px;
  margin-top: 5%;
}
.p-conocimiento {
  font-size: 17px;
}

.cada-boton {
  height: 23em;
  width: 40%;
  font-size: 20px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.b1 {
  background-color: white;
  padding: 38px 65px 40px 65px;
  width: 100px;
  margin-top: 2%;
  border: solid 2px rgb(225, 222, 222);
  border-radius: 10px;
}

.icono-conocimiento {
  font-size: 70px;
}

.b1:hover {
  border-color: rgb(100, 184, 100);
  color: rgb(100, 184, 100);
}
/* final conocimientos */

/* comienzo franja */
.franja {
  background-color: rgb(109, 183, 109);
  padding: 4% 0%;
  width: 100%;
  text-align: center;
  color: white;
}

#quote {
  font-size: 8em;
  color: white;
  background-color: rgb(109, 183, 109);
  border: none;
}

.p-franja {
  font-size: 18px;
  margin-top: 2%;
}

.text-franja {
  font-size: 30px;
  margin-top: 5%;
}
/* final franja */

/* inicio seccion proyectos */

.sec-proyectos {
  text-align: center;
  width: 100%;
  padding: 6% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo-proyectos {
  font-family: "Archivo Black", sans-serif;
  font-size: 45px;
}

.p-proyectos {
  font-size: 16px;
}

/* comienzo cuadros de proyectos */

.cuadrosP {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.img-cuadro {
  width: 88%;
  height: 18em;
}

.text-img {
  width: 27%;
  height: 65%;
  margin-left: 2%;
  margin-top: 2%;
  border-radius: 1em;
  border: solid 0.1em rgb(224, 224, 224);
}

.text-img:hover {
  color: rgb(109, 183, 109);
  border-color: rgb(109, 183, 109);
}

/* final proyectos */

/* comienzo contacto */
.contacto {
  background-color: rgb(239, 246, 240);
  width: 100%;
  height: 68em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactame {
  background-color: white;
  border: solid 0.1em rgb(214, 211, 211);
  border-radius: 2%;
  margin-top: 1%;
  width: 55%;
  height: 40em;
  display: flex;
}

.columna-contacto {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-contacto {
  width: 75%;
  height: 80%;
}

.titulo-contacto {
  font-size: 3em;
  font-family: "Archivo Black", sans-serif;
}

.links {
  width: 80%;
  height: 45%;
}

.iconos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.color-item {
  color: black;
}

.fa-brands {
  padding: 2.5% 3%;
  margin-right: 1em;
  font-size: 1.3em;
  color: rgb(109, 183, 109); 
  border-radius: 50%;
}

.fa-envelope {
  padding: 2.5% 3%;
  margin-right: 1em;
  font-size: 1.3em;
  color: rgb(109, 183, 109); 
  border-radius: 50%;
}

.color-item:hover {
  color: rgb(109, 183, 109);
}

.fa-brands:hover {
  padding: 2.5% 3%;
  color: white;
  border-radius: 50%;
  background-color: rgb(109, 183, 109);
  border: solid .1em white;
}

.fa-solid:hover {
  padding: 2.5% 3%;
  color: white;
  border-radius: 50%;
  background-color: rgb(109, 183, 109);
  border: solid .1em white;
}

/* comienzo escribime */
.escribime {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna-escribime {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.titulo-escribime {
  font-size: 1.9em;
  margin-top: 2.2em;
  font-family: "Archivo Black", sans-serif;
}
.formulario {
  height: 65%;
  width: 100%;
  font-size: 1em;
}

.contenido-form {
  margin-left: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nombre {
  display: flex;
  flex-direction: column;
}
 .nom {
  background-color: rgb(235, 242, 237);
  font-size: 1em;
  padding: 0.5em 0.3em;
  border-radius: 10em;
  margin-top: 2%;
  border: none;
 }

.apellido {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

.ape {
  background-color: rgb(235, 242, 237);
  font-size: 1em;
  padding: 0.5em 0.3em;
  border-radius: 10em;
  margin-top: 2%;
  border: none;
}

.e-mail {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.mail {
  background-color: rgb(235, 242, 237);
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 10em;
  margin-top: 2%;
  border: none;
}

.mensaje {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.mensj {
  background-color: rgb(235, 242, 237);
  font-size: 1.2em;
  border-radius: 0.5em;
  margin-top: 2%;
  border: none;
}

.boton {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 3%;
  font-size: 1em;
  color: white;
  background-color: rgb(109, 183, 109);
  text-align: center;
  padding: 2% 6%;
  border-radius: 5em;
  border: none;
}
/* final contacto */

/* comienzo footer */

.footer {
  background-color: rgb(109, 183, 109);
  padding: 4% 0%;
  width: 100%;
  text-align: center;
  color: white;

}
.cajas-nav-footer {
  padding: 0.8% 0.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-footer {
  color: white;
}

.boton-footer {
  font-size: 1em;
  margin-left: 1%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-footer:active {
  box-shadow: 1px 1px 15px 5px;
}

.links-footer {
  margin-top: 2%;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconos-footer {
  margin-left: 2%;
  height: 100%;
  width: 30%;
}
.fa-solid {
  padding: 2.5% 3%;
  color: rgb(109, 183, 109);
  border-radius: 50%;
  background-color: white;
}

.fa-brands {
  padding: 2.5% 3%;
  color: rgb(109, 183, 109);
  border-radius: 50%;
  background-color: white;
}

.fa-solid:hover {
  background-color: rgb(109, 183, 109);
  border: solid .1em white;
}

.fa-brands:hover {
  background-color: rgb(109, 183, 109);
  border: solid .1em white;
}

.ultimo-p {
  font-size: 1.1em;
  margin-top: 2%;
}